# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Environment variables
.env

# Credentials / secrets
*.json
*.pem
*.key

# VS Code / IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Virtual environment
venv/
env/
